.banner {
  background: var(--blue-gradient);
  color: var(--White-color);
  padding: 2.5em 2em;
  text-align: center;
  /* height: 215px; */
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 4.8em 2em;
  }
}
