footer {
  background-color: var(--White-color);
  border-top: 1px solid var(--gray-color);
  padding: 1.5em;
}
@media screen and (min-width: 1728px) {
  .footer {
    padding: 3em 0;
  }
}
