.head {
  /* height: 80px; */
  align-items: center;
  background-color: var(--White-color);
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 1728px) {
  .head {
    padding: 0 2em;
  }
}
