.options {
  display: none;
}

@media screen and (min-width: 1024px) {
  .options {
    display: flex;
  }
}

@media screen and (min-width: 1728px) {
  .options {
    align-items: left;
  }
}
